.card {
    margin: 2rem auto;
    box-shadow: 5px 10px 18px #888888;
}

.rating {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

h5 {
    font-size: 2rem;
    font-weight: 700;
}

span {
    font-size: 1.5rem;
}

body {
    font-family: 'Sen', sans-serif;
}

.img {
    position: relative;
    text-align: center;
    color: white;
}

.icon {
    font-size: small;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.centered {
    font-size: 3rem;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}