.img {
    background: url("https://images.unsplash.com/photo-1513781050488-6dd358209a1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=333&q=80");
    width: 100%;
    height: 335px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    margin: auto;
    color: 	rgb(255, 0, 0);
}

.hoverEffect {
    background-image: linear-gradient(to right top, #cd222265, #d34e2975, #d86c36b6, #dd89488e, #e1a06093, #e7b06883, #ebbe71a6, #f0cc7b, #f3d773, #f3e26b, #f0ee64, #e9fb5f);
    width: 100%;
    height: 42.5%;
    margin-top: 35%;
    display: none;
}

.btn {
    margin: 0 31%;
    border-radius: 0;
    color: white;
}

.pos {
    margin: 1.2rem auto;
    width: fit-content;
    padding-top: 2rem;
    font-size: 1.5rem;
    color: white;
}

.card {
    width: 20%;
    margin: 3rem auto;
    text-align: center;
}

.price {
    width: 100%;
}

.priceColour {
    background-color: rgba(248, 248, 108, 0.527);
    width: 100%;
    font-size: 2.5rem;
    color: white;
    text-align: center;
}