.brand {
    font-size: 5.9rem;
    color: rgba(0, 119, 255, 0.849);
}

.welcome {
    margin-bottom: 4rem;
}

.btn {
    margin-bottom: 3rem;
    animation-delay: 1.5s;
}

.btn:hover {
    margin-bottom: 3rem;
    transform: scale(1.09);
    animation-delay: 1.5s;
}